html {
  height: 100%;
  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  margin: 50px 0 50px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". search ."
    ". list .";
}

.search {
  grid-area: search;
  background: transparent;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.1rem;
  height: 20px;
}

.list {
  grid-area: list;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 2fr 60px 60px;
  list-style: none;
}

.taskBtn {
  transition: 0.4s;
}

.taskBtn:hover {
  transform: rotate(20deg);
  transition: 0.4s;
  cursor: pointer;
}

.greenIcon {
  color: #3BB044;
}

.fa-backspace {
  color: #b03f3b;
}
